<div class="buttonz popupMenu" style={_userPopupStyle} >
    <slot/>
</div>

<script>
    import {allowHide, preventHide} from "./popupMenuController"
    let _userPopupStyle=""

</script>


<style>
    .popupMenu {
        transition: opacity 0.5s;
    }

</style>