<tr id={id} class="popupMenuContainer" on:mouseover=popupOver(event,data,top,left) on:mouseout=popupOut(event)>
    <slot />
</tr>


<script>
    import {getStore} from "../../utlis/viewHelpers/projectViewHelpers";
    import {hide, show} from "./popupMenuController";

    export default {
        methods: {
            popupOver:show ,
            popupOut: hide
        },
    }
</script>
