<span class="multiUsersAvatar" bind:this={container}>
    {#each Object.keys(items) as key , i }
        <span class="avatar" style={overlapStyle(itemStep,i)}>
            <UserAvatar
                    {...items[key]}/></span>
    {/each}
</span>
<style>
    .multiUsersAvatar {
        /*   max-height: 80px;
           width: 100%;
           overflow: hidden;*/
        position: relative;
    }

    .avatar {
        position: absolute;
        width: 40px;
        height: 40px;

    }
</style>
<script>
    /**
     * items = Object of users by ID
     */
    import UserAvatar from "../../Layout/Block/UserAvatar.svelte"
    import {onMount} from "svelte"
    export let items;

    let container, parentWidth, itemStep
    const overlapStyle = function (itemStep, i) {
        return "left: " + (itemStep * i) + "px;";
    }

    onMount(() => {
        parentWidth = container.parentElement.clientWidth
    })

    $:itemStep = itemStepCalculate(items, parentWidth)

    function itemStepCalculate(items, parentWidth) {
        if (!parentWidth) return 50
        const count = Object.keys(items).length
        const stepMid = parentWidth / count,
                maxStep = 50,
                minStep = 15;
        let step = Math.min(maxStep, stepMid);
        step = Math.max(minStep, step)
        return step
    }
</script>
