<div class="formItem usageFilter usageFilter-options-closer input-userSelect ">
    <DropDownMulti items={itemsReady} bind:value={value} title={title}/>
</div>
<script>
    import DropDownMulti from "../../Forms/DropDown/DropDownMulti.svelte"

    let title = "All selected", itemsReady
    export let value, items

    $:itemsReady = itemsReadyFactory(items)

    function itemsReadyFactory(items) {
        let itm = items.map((item, key) => {
            item.title = item.first_name
            item.value = item.id
            return item
        })
        if (items.length === 1) {
            return itm
        } else itm.unshift({title: "All selected", value: "all", _unselectOthers: true})
        return itm
    }


    const f = () => {
        if (!previous && typeof current.data == "undefined" && current.items && current.items.length === 1) {
            this.set({value: 0, title: current.items[0].title}) //current.items[0].id
        }
    }

</script>
