    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-7"><strong>
            # activiations<br />
            First at<br />
            Last at <br />
            </strong>
            </div>
            <div class="col-xs-5 not-ready">
                6 <br />
                Nov 19'<br />
                Dev 19'
            </div>
        </div>

    </div>
<div class="col-xs-6">

 <div class="row">
            <div class="col-xs-7"><strong>
            Off time<br />
            # erorrs<br />

            </strong>
            </div>
            <div class="col-xs-5 not-ready">
                 15 %<br />
                  30<br />
           </div>
        </div>

</div>

    <script>
        export let user
    </script>
