    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-8"><strong>
            Times cardio<br />
            Times strength<br />
            Cardio length<br />
            </strong>
            </div>
            <div class="col-xs-4">
                {user.times_cardio}<br />
                {user.times_strength}<br />
                {user.min_cardio} min
            </div>
        </div>

    </div>
<div class="col-xs-6">

 <div class="row">
            <div class="col-xs-8"><strong>
            Strength length<br />
            Top_sports<br />
            Intensity<br />
            </strong>
            </div>
            <div class="col-xs-4 ">
                {user.min_strength} min<br />
                {sport(user.top_sports) }<br />
                {user.intensity}
            </div>
        </div>

</div>

<script>
    import CONST from "../../../../../../dashboard/src/components/jsModules/CONST.js"
    const sport =(i)=>CONST.sports[i]

    export let user

</script>
