<div class=" emp-profile ">
    <div class="row">
        <div class="col-xs-3 profile-img">
            <UserAvatar {...user} notClickable=true popup={false}/>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <h3>
                        {user.first_name} {user.last_name}
                    </h3>
                </div>
                <div class="col-xs-6">
                 <span class=" popup-user-location not-ready"><i class="fa fa-map-marker"
                                                                 aria-hidden="true"></i>  {user.reg_location}
                 </span>
                </div>
            </div>
            <div class="row popup-user-weekly">
                <div class="col-xs-6">
                    <strong>
                        Weekly rank:
                        <br/>
                        Total rank:
                    </strong>
                </div>
                <div class="col-xs-2">
                    {user.rating_week}<br/>
                    {user.rating}
                </div>
                <div class="col-xs-4 ">
                                          <span class="popup-user-stars">
                                            <Stars count={user.rating_week*10}/><br>
                                          </span><br/>
                    <span class="popup-user-stars">
                                            <Stars count={user.rating*10}/></span>
                </div>
            </div>
        </div>
    </div>


    <div class="row popu-user-tabbar">
         <span class="pod_filter">
                        <TabBarNavigator bind:value={selectedTab} items={tabs} />
                    </span>
    </div>
    <div class="row popup-user-detailes">
        {#if  selectedTab===0}
            <UserPopup_about user={user}/> {/if}
        {#if  selectedTab===1}
            <UserPopup_workout user={user}/> {/if}
        {#if  selectedTab===2}
            <UserPopup_pods user={user} stats={stats}/> {/if}
        {#if  selectedTab===3}
            <UserPopup_bottle user={user} stats={stats}/> {/if}
        {#if  selectedTab===4}
            <UserPopup_app user={user} stats={stats}/> {/if}
        {#if  selectedTab===5}
            <UserPopup_insights user={user} stats={stats}/> {/if}
    </div>
</div>
<style>
    /**
    see user_popup.sass
     */

</style>
<script>


    import TabBarNavigator from "../../../Components/Forms/Complex/TabBarNavigator.svelte"
    import Stars from "../../../Components/Forms/Complex/Stars.svelte"
    import fromKeyValToObj from '../../../../../../admin_panel/src/jsModules/fromKeyValToObj'
    import unixTimeToView from '../../../../../../admin_panel/src/jsModules/unixTimeToView'
    import UserAvatar from "../../../Components/Layout/Block/UserAvatar.svelte"
    import {sport} from "../../../Modules/Helpers/viewHelpers/projectViewHelpers"

    import UserPopup_about from "./UserPopup_about.svelte"
    import UserPopup_workout from "./UserPopup_workout.svelte"
    import UserPopup_pods from "./UserPopup_pods.svelte"
    import UserPopup_bottle from "./UserPopup_bottle.svelte"
    import UserPopup_app from "./UserPopup_app.svelte"
    import UserPopup_insights from "./UserPopup_insights.svelte"


    export let user={}, stats=undefined, adher=undefined

    export let data//need data.fullresult

    $:user = getUser(data)

    function getUser(data) {
        if (data._fullResult && data._fullResult.users.profile) return data._fullResult.users.profile
        return {}
    }

    $: stats = (function (data) {
        if (data._fullResult) return fromKeyValToObj(data._fullResult.stats.user_usage.items)
        return {}
    })(data)

    $: adher = (function (stats) {
        if (stats) {
            return stats.adher_others > 0 && stats.adher_user > 0 ?
                    Math.floor((stats.adher_user - stats.adher_others) / stats.adher_others * 100) + "%"
                    : ""
        }
        return ""
    })(stats)


    let selectedTab = 0,
            tabs = [
                {
                    title: "About", value: 0, items: []
                },
                {
                    title: "Workout", value: 1, items: []
                },
                {title: "Pods", value: 2, items: []},
                {title: "Bottle", value: 3, items: []},
                {title: "App", value: 4, items: []},
                {title: "Insights", value: 5, items: []},

            ]


</script>
