{#if data}
    <UserPopupBig {data}/>
    {else}
    <Loading/>
{/if}
<script>
    export let id, api //user id to load
    let data
    import UserPopupBig from "./UserPopupBig.svelte"
    import Loading from "../Block/Small/Loading.svelte"

</script>