    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-7"><strong>
            Download app at<br />
            On time	<br />
           Signed through <br />
           Daily insight time <br />
            </strong>
            </div>
            <div class="col-xs-5">
                  <span class="not-ready">Nov 19'</span><br />
                  <span class="not-ready">2%</span><br />
                  {user.sign_in_method}<br />
                  <span class="not-ready">15 min</span><br />
            </div>
        </div>

    </div>
<div class="col-xs-6">

 <div class="row">
            <div class="col-xs-7"><strong>
            Plan pod time<br />
            Plan time to other<br />
            Weekly usage time<br />
            Daily average of enters<br />
            </strong>
            </div>
            <div class="col-xs-5">
                  <span class="not-ready">15 min</span><br />
                <span class="not-ready">+35 %</span><br />
                <span class="not-ready">1h 35m</span><br />
                <span class="not-ready">2.4</span><br />

            </div>
        </div>

</div>

    <script>
        export let user
    </script>
