<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-7"><strong>
            Used/Ordered<br/>
            Day average<br/>
            Adherence<br/>
        </strong>
        </div>
        <div class="col-xs-5">
            {stats.used}/{stats.ordered}<br/>
            {daily_avg}<br/>
            {adher}
        </div>
    </div>

</div>
<div class="col-xs-6">

    <div class="row">
        <div class="col-xs-7"><strong>
            Most consumed<br/>
            Weekly Consumption<br/>
            Weekly forgotten<br/>
        </strong>
        </div>
        <div class="col-xs-5 not-ready">
            <span class="not-ready"> power, muscle </span><br/>
            <span class="not-ready"> 5 t/7 pln </span><br/>
            <span class="not-ready"> 1 </span>
        </div>
    </div>

</div>
<script>
    export let stats, user
    let adher, daily_avg

    $: adher = get_adher(stats)

    function get_adher(stats) {
        return stats.adher_others > 0 && stats.adher_user > 0 ? Math.floor((stats.adher_user - stats.adher_others) / stats.adher_others * 100) + "%" : ""
    }

    $:daily_avg = get_daily_avg(stats)

    function get_daily_avg(stats) {
        return stats.used > 0 ? Math.round(Math.abs(stats.last_at - stats.first_at) / (stats.used * 10 * 3600 * 24)) / 100 : ""
    }

</script>
