    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-7"><strong>
            Articles read / received<br />
           Entered app via push	<br />

            </strong>
            </div>
            <div class="col-xs-5">
                  <span class="not-ready">17 /21 </span><br />
                  <span class="not-ready">15</span><br />
            </div>
        </div>

    </div>
<div class="col-xs-6">

 <div class="row">
            <div class="col-xs-7"><strong>
            Avg weekly amount<br />

            </strong>
            </div>
            <div class="col-xs-5">
                  <span class="not-ready">15</span><br />
            </div>
        </div>

</div>
    <script>
        export let user
    </script>
