    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-5"><strong>
            Gender<br />
            Age<br />
            Height<br />
            Weight<br />
            </strong>
            </div>
            <div class="col-xs-7">
                {user.gender}<br />
                {user.age}<br />
                {user.height} cm<br />
                {user.weight} kg
            </div>
        </div>

    </div>

<div class="col-xs-6">

 <div class="row">
            <div class="col-xs-5"><strong>

            1st Goal<br />
            2nd Goal<br />
            E-mail<br />
             Registered with<br />
            </strong>
            </div>
            <div class="col-xs-7">

                {user.goal_1}<br />
                {user.goal_2}<br />
                {user.email}<br />
                {user.sign_in_method}<br />
            </div>
        </div>

</div>
    <style>
        .col-xs-7 {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script>
        export let user
    </script>
