<textarea class="form-control"
          rows={rows}
          placeholder={placeholder} bind:value></textarea>
<script>
    let rows
    $: rows = getRows(value)

    function getRows(value) {
        const lines = value ? value.split(/\r\n|\r|\n/).length : 0
        return lines < 1 ? 1 : lines + 1
    }
</script>
