<label class="container-ch" on:click={onClick}  > <input type="checkbox" bind:checked={value} >
    <span class="checkmark"></span>
</label>
<script>
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();
    export let value=undefined
    const onClick= (e)=>{
        e.stopPropagation()
        dispatch("click")
      }
</script>
<style>
    .checkmark {
        background-color: #ffffff !important;
        border: 1px solid #e5e6e7;
    }
</style>