<div class="text-search vs-component vs-con-input-label vs-input  mx-5 input-rounded-full no-icon-border vs-input-primary">
    <div class="vs-con-input">
        <input type="text" class="vs-inputx vs-input--input normal " style="border: 1px solid rgba(0, 0, 0, 0.2);"
               on:blur={blur} autofocus bind:value={value}
               placeholder="Start typing ..."
        />
        {#if value}  <span class=" close-button grey-hover-color" on:click={clear}></span> {/if}
    </div>
</div>

<style>
    .vs-inputx {
        padding-left: 15px
    }

    .vs-component {
        margin-left: 30px;
        display: inline-block;
        width: 230px;
        position: relative;
        top: -8px
    }

    .form-control-container input {
        border-radius: 20px;
    }

    .close-button {
        display: inline-block;
        position: absolute;
        top: 5px
    }


</style>
<script>
    export let value=""

    import {onMount, createEventDispatcher} from "svelte"
    const dispatch = createEventDispatcher();
    const blur=function() {
            dispatch("blur",null)
        },
        clear= function () {
            value=""
            dispatch("clear",null)
        }



</script>
