{#if popup || show }<div class='window-popup _main_dash_injection' on:click={closePopup} >
    <div class='window-popup_inner' on:click={closePopup} >
        <div class="_sub" ><span class="close-button-big" on:click={closePopup} ></span>
            {#if popup.cfg}
            <!--svelte:component this={$Joker} cfg={popup.cfg._children} step="{step}" data="{popup.data}"   bind:binds=binds on:closePopup="{closePopup}" /-->
            {:else}
                <svelte:component this={popup.component} {...popup.data}   on:closePopup="{closePopup}" />

            {/if}
            {#if hasSlot}
                <slot ></slot>
            {/if}
        </div>
    </div>
</div>
{/if}
<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    export let popup, hasSlot=false, show=false

    function clickBlock  (event){
        if(event.stopPropagation) event.stopPropagation()
    }
    function closePopup (event) {
      try {
        popup= false
        show=false
      }catch (e) {
          debugger
      }
        dispatch ("closePopup")
    }

</script>
<style>
    ._sub{
        position: relative;
    }
    .close-button-big {
        right:30px;
        filter: hue-rotate(230deg);
        animation: fadeInFromNone 1s;
    }

    @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }

        30% {
            display: block;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }

    .close-button-big {
        background-image: url(/styles/img/close.png);
        width: 30px;
        height: 30px;
        background-size: contain;
        position: absolute;
        top: -3px;
        right: 9px;
        cursor: pointer;
    }

</style>
