<div class="dropDown col" bind:this={parent} on:mouseover="{onMouseover}">
    <span>{@html titleComputed(value, items)}</span><span
        class="arrow_down"></span>
    <div class="chbox {isShown?'':'hiddenDD'}" style="{dropdownStyle}" bind:this={dropdown}>
        {#each items as item,index}
            <span class="{isActive(value,item, index)?'active':''}" on:click={onClick(item)}>
                {@html item.title}
        </span>
        {/each}
    </div>
</div>

<script>
    import {flipVerticalIfOutOfBounds} from "../../../../../../trainer/src/componentsJocker/Forms/Utils/Dropdown";
    import {show, hide} from "../../../../../../trainer/src/utlis/viewHelpers/popusHelper";
    import {onMount} from "svelte"
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();

    export let items, value = undefined
    onMount(() => {
        if (typeof value == "undefined") {
            value = items[0].value
        }
    })
    let dropdownStyle = "", isShown = false,
            selectedItem = "", parent, dropdown
    /* controllers*/
    const onClick = (item) => (e) => { debugger
                e.stopPropagation()
                isShown = false
                value = item.value
                selectedItem = item.title
                dispatch("changed", item.value)
            },
            onMouseover = () => {
                isShown = true
                dropdownStyle = flipVerticalIfOutOfBounds(parent, dropdown, dropdownStyle)
            },
            /*view helpers*/
            getVariantTitle = (item, isMultiselect) => typeof item.title !== "undefined" ? item.title : item,
            isActive = function (value, item, index) {

                if (item && typeof item.value !== "undefined") {
                    return item.value == value
                } else {
                    return index == value
                }
            },
            titleComputed = function (value, items) {
                let item;
                if (typeof value == "undefined" || value == null || value === "") item = items[0]
                else item = getSelectedItem(items, value)
                return getVariantTitle(item)

            }

    const getSelectedItem = function (items, value) {

        if (typeof value === "undefined" || value == null) return items[0]
        //is Object
        if (typeof items[0].value !== "undefined") {
            const out = items.find((item) => item.value == value)
            if (out) return out
            return items[0]
        }
        //is Array

        return {value: value, title: items[value]}
    }


</script>
<style>
    .dropDown {
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .arrow_down {
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url(/styles/commonUI/dropdown_arrow_down.png) no-repeat 5px 9px;
    }

    .chbox {
        transition: all 0.2s ease-in-out;
        opacity: 0;
        display: none;
        position: absolute;
    }

    .dropDown:hover div.chbox {
        font-weight: normal;
        text-overflow: ellipsis;
        opacity: 1;
        border-radius: 5px;
        cursor: auto;
        display: block;
        position: absolute;
        border: 1px solid #ebedf3;
        background-color: #ffffff;
        box-shadow: 0 5px 16px 0 rgba(19, 40, 69, 0.19);
        z-index: 1000;
        padding: 10px;
        min-width: 170px;
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dropDown .chbox span {
        display: block;
        padding: 10px 5px 10px 5px;
        cursor: pointer;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #fff;
        /* max-width: 15em; */
    }

    .chbox :global(.active) {
        font-weight: bold;
        background: url(/styles/commonUI/dropdown_checkbox_arrow.png) no-repeat 101% 10px;
        transition-property: none;
    }

    .hiddenDD {
        display: none !important;
    }


</style>