<div class="dropDown col" on:mouseover={onMouseover} bind:this={parent} >
    <span>{@html titleComputed }</span><span class="arrow_down"></span>
    <div class="chbox col " style="{dropdownStyle}" bind:this={dropdown}>
        {#each items as item,index}
            <span class="{isActive(value,item, index)?'active':''}" on:click={()=>onClick(item,index,title)}>
                {@html item.title}
            </span>
        {/each}
    </div>
</div>

<script>
  //  import {onMouseover} from './DropDown.svelte';
  const onMouseover=()=>{}

    export let customTitleHelper, value, items=[], isRequired=false//at least one select is requred
    let titleComputed, parent, dropdown

    //methods

    const onClick = function (item, val, title) {
//        let value = item.value
        if (!value) {
            value = {}
        }
        if (item._unselectOthers) {
            value = {}
            return
        }
        if (item && typeof item.value !== "undefined") {
            const isSelected = value[item.value]
            //if already selected

            const onlyOneIsLeft = Object.keys(value).length === 1 && !!isRequired

            if (isSelected && !onlyOneIsLeft)  {
                value[item.value]=null
                delete value[item.value]
            }

            else value[item.value] = item
        }
    }

    //
    let dropdownStyle = "",
        selectedItem = "",
            isActive = function (value, item, index) {
                if (item && typeof item.value !== "undefined" && typeof value !== "undefined") {
                    return value[item.value]
                }

        }

    $: titleComputed =  _getTitle(value )

    function _getTitle(value) {
        if (customTitleHelper) {
            return customTitleHelper(value, items)
        }

        if (typeof value === "undefined") return items[0].title;

        let keys = Object.keys(value),
                keys_len = keys.length,
                title

        if (keys_len === 0) {
            title = items[0].title
        } else if (keys_len === 1) {
            title = value[keys[0]].title

        } else {
            //keys_len>1
            title = keys_len + " selected"
        }

        return title
    }

    const getSelectedItem = function (items, value) {


        if (typeof value === "undefined") return items[0]
        //is Object
        if (items[0].value) {
            const out = items.find((item) => item.value == value)
            if (out) return out
            return items[0]
        }
        //is Array

        return {value: value, title: items[value]}
    }




</script>
