{#if state.options}
    <DropDownMulti  placeholder="{title}"
              bind:value={value}
                    items={state.options}
        >
    </DropDownMulti>
{/if}
<script type="ts">

    export let value,  url, onClick, onChanged, title, id = "", name = "", state = {},
        /*
        Function
         */
        prepareItems

    import {fetcher} from "../../../../../../trainer/src/config"
    import {onMount} from "svelte";
    import DropDownMulti from "./DropDownMulti.svelte";


    onMount(async () => {
        const d = await fetcher(url),
            payload = d.data.payload,
            blogs0 = JSON.parse(payload),
            blogs = blogs0.blogs
        let options = []
        if (prepareItems) options = prepareItems(blogs)  /*blogs.forEach((item) => {
            options.push({value: item.id, title: item.title})*/

        state || (state = {})
        state.options = options
       // _value = options[0].value
    })
</script>