<div> Loggin out </div>
<script>
    import {logout} from "../../Modules/Helpers/userSession"
    import {onMount} from 'svelte';
    export let  userType="brand"
    onMount (() =>{
            //erase user data
        window.localStorage.___userType=userType

        logout()
            //redirect
        window.location.href="/login/index.html"
    })
</script>
