{#if $popup}{$popup}<div class='window-popup' on:click={closePopup} >
    <div class='window-popup_inner' on:click={clickBlock} >
        <div class="_sub" ><span class="close-button-big" on:click={closePopup} ></span>
            {#if $popup.cfg}
            deprecated
                <!--svelte:component this={$Joker} cfg={$popup.cfg._children} step="{step}" data="{$popup.data}"    on:closePopup={closePopup} /-->
            {:else}
            <svelte:component this={$popup.component} {...$popup.data}  on:closePopup={closePopup} />
            {/if}
        </div>
    </div>
</div>
{/if}


<script>
 import {popup} from "../../../Dashboard/plant/MainStore";

 /**Methods*/
    function clickBlock(event){
        if(event.stopPropagation) event.stopPropagation()
    }

    function closePopup(event) {
        $popup=false
    }

</script>


<style>
    ._sub{
        position: relative;
    }
    .close-button-big {
        right:30px;
        filter: hue-rotate(230deg);
    }
</style>