<div class="menu-toggle rounded" on:click={toggleMobile} >
    <i class="fas {$mobile_mode ? 'fa-times' :'fa-bars' }"></i>
</div>
<nav class="navbar-default navbar-static-side fi-box {$mobile_mode ? 'active-mobile-menu' :'' }" role="navigation">
    <div class="sidebar-collapse">
        <div class="fitto-logo-line">
            <img alt="" class="sm-hide icon-big" src="styles/new-css/logo-white.png"></div>
        <div class="buttons_wrapper">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <div class="row">
                            <div class="col-sm-12 " id="userLogo">
                                {#if $user.avatar}  <img alt="image" class="img-circle"
                                     src="{$user.avatar}"
                                     style="width: 70px;float:  left;">{/if}
                                <div class="sm-hide name">
                            <span class=""><span class="block m-t-xs sm-hide "><strong
                                    class="fitto-name " style="
float:  left;
">{$user.name ?$user.name : $user.first_name}</strong></span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="logo-element">FT</div>
                </li>

                <div id="cursor" style="top: 151.922px;"></div>

                {#each cfg as item}

                {#if item.name=='Settings' }

                <span><hr></span>

                {:else}
                        <SideBarLink link={item.route} title={item.title} route={$route} />
                {/if}
                {/each}
                {#if  activeUsers} <a class="bottom-count-u sm-hide" href="javascript:void()"><span class="activity"><span class="count-of">{activeUsers} <br />Users</span></span></a>{/if}
            </ul>
        </div>
    </div>
    <span class="version"
          style="display: block; position: fixed; bottom: 10px; left: 10px;"></span>
</nav>

<style>
    .link a {
        padding-right: 0;
    }
    .i_note {
        background-position: center;
    }
    .navbar-static-side {
        width: 200px !important;
    }
    .i_wh {
        background-size: 70% !important;
    }

    .i {
        background-size: 70% !important;
    }

    .nav-label {
        padding-left: 0 !important;
    }

    .name {
        display: inline-block;
        float: left;
        width: 50px;
        margin-left: 15px;
    }

    .buttons_wrapper {
        overflow-x: hidden;
        max-height: calc(100vh - 40px);
        overflow-y: hidden;
        display: block;
        scrollbar-width: 6px;
    }

    .buttons_wrapper:hover {
        overflow-y: auto;
    }

    .m-t-xs {

    }

    .m-t-xs .fitto-name {
        font-szie: 14px !important;
    }

    .icon-big {
        width: 90px;
    }
    .bottom-count-u {
        border: none !important;
        text-align: center;
    }

    .activity {

    }

    .activity::before {
        top: -15px !important;
    }

</style>
<script>

    /**
     * - component %children%  behaviour
     *
     */
    import SideBarLink from "./SideBarLink.svelte"
    import {isActive} from "../../router"

    import { afterUpdate } from 'svelte';
    import { get } from 'svelte/store';
    import {mobile_mode, user, route} from "../../../Common/CommonStore";


    export let activeUsers=undefined, routes=[];
    export const cfg=routes
    function toggleMobile  () {
        $mobile_mode = !$mobile_mode
    }


    // import $ from "jquery"
    afterUpdate( function () {
            initCursor()
            setTimeout(initCursor, 1000)
        })


    var _cursor = false
    var cursor = function () {
        if (!_cursor) _cursor = document.getElementById("cursor")
        return _cursor
    }

    function moveCursor(top) {
        if (moveCursor.last_top === top) return
        cursor().style.top = top + "px"
        moveCursor.last_top = top
    }

    let initCursor = function () {

        let $active = document.querySelectorAll("#side-menu li.link.active")  //$("#side-menu li.link.active").first()
        var $links = document.querySelectorAll("#side-menu li.link") ///$("#side-menu li.link")
        if (!$active || !$links) {
            setTimeout(initCursor, 1000)
            return
        }
        //activate first link if none
        if (!$active.length) {
            $links[0].classList.add("active")

            $links[0].querySelector("a").classList.add("active")
        }
        $active = $active.length > 0 ? $active[0] : $links[0]
        var top = $active.offsetTop

        moveCursor(top)
        $links.forEach(function (link) {

            link.addEventListener('click', function (e) {
                $active = e.currentTarget
                var top = $active.offsetTop
                moveCursor(top)
            })
        })

        window.addEventListener("resize_custom", () => {
            //select active
            //move cursor to it

        });
    }
</script>
