
<li class="{isActive(link,route) ?'active':''}  link">
    <a aria-current="false"
       class="{isActive(link,route)?'active':''} i_{route}"
       href="javascript:void(0)"
       on:click={goRoute}><i class="i_wh "
                             style="{img1( link, true) }"></i>
        <i class="i" style="{img1( link ) }"></i>
        <span class="nav-label sm-hide"> {title}</span></a></li>
<script>

    import {isActive, go} from "../../router"
   // import {route} from "../../../projectRootForCommon/plant/MainStore"

    export let link=undefined
    export let title=undefined
    export let route=undefined //current active route

    function  goRoute  (event) {
        //Play animation
        // toggleMobile()
        // Get Route
        go(link)
    }



    export const   img1  =  function (link, w) {
        w = w ? "_wh" : ""
        return "background-image:  url('styles/img/sidebar/" + link + w + ".svg');"
    }
</script>
<style>
    .link a {
        padding-right: 0;
    }
    .i_note {
        background-position: center;
    }
    .navbar-static-side {
        width: 200px !important;
    }
    .i_wh {
        background-size: 70% !important;
    }

    .i {
        background-size: 70% !important;
    }

    .nav-label {
        padding-left: 0 !important;
    }
</style>