<!--input type="text"  name="daterange0"  id={id} value="" ref:input /-->
<span class="datarange-input-container" on:mouseleave="{mouseLeave}">
<input type="text" class="datarange-input {clss}" name="daterange"  bind:value="{valueFormatted}" />
</span>
<style>
    input {
        background: url(/styles/new-css/dropdown_arrow_down.png) no-repeat right 8px;
        width: 82px;
        margin-right: 10px;
        border: none
    }

    .datarange-input-container {
        position: relative;
    }
</style>
<script>

    import {onMount} from "svelte";

    const timeZone = new Date().getTimezoneOffset() * 60
    const jq = window.$, id = Math.random()
    export let value, clss="",valueFormatted, min, max;
    onMount(() => {

        const options = {
                    parentEl: ".datarange-input-container",
                    "singleDatePicker": true,
                    opens: 'right',
                    "locale": {
                        "format": "DD/MM/YYYY"
                    }
                },
                onChange = (start, end, label) => {
                    //  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    // console.log(start/1000)
                    value = start / 1000 - timeZone
                }
               // el = this.refs.input

        if (min) {
            options.minDate = min;
        }
        if (max) {
            options.maxDate = max;
        }
        jq("[name=daterange]").daterangepicker(options, onChange)
    })
    const mouseLeave = function () {
        //this.fire("mouseleave")
    }
</script>
