{#if _inited}
    <DateRangePicker class="form-group-lg form-control form-date"
                     id="form_0_sheduled"
                     placeholder="Date"
                     bind:valueFormatted={dateFormatted}
                     bind:value={date}
                     min={min} max={max} on:mouseleave="{mouseLeave}"/>
    {#if !hide_minutes}
        <Minutes bind:value={minutes}/> {/if}
{/if}
<script>
    /**
     * value = timestamp
     */
    import {onMount, beforeUpdate} from "svelte"
    import Minutes from "./Minutes.svelte"
    import DateRangePicker from "./DateRangePicker.svelte"
    import {formatDate, roundDay} from "../../../Modules/Helpers/Data/unixTimeToView"

    const timeZone = new Date().getTimezoneOffset() * 60

    export let value = undefined, hide_minutes = false, min, max, _inited = false
    let dateFormatted, date = 0, //date in seconds,
            minutes //hours+minutes in seconds,

    beforeUpdate(() => {
        //intial set input data
        if (!_inited) {
            _inited = true;

            const
                    //date in seconds
                    dat = new Date(),
                    dstr = formatDate(dat, "d/m/y"),
                    hours = dat.getHours(),
                    minutes0 = dat.getMinutes(),
                    //hours+minutes in seconds from 00:00
                    mints = hide_minutes ? 0 : hours * 3600 + Math.floor((minutes0 + 15) / 15) * 15 * 60,
                    //date in seconds
                    rDay = roundDay(dat / 1000),
                    dates = rDay + mints// + dat.getTimezoneOffset()*60
            dateFormatted = dstr
            date = dates //date in seconds
            minutes = mints //hours+minutes in seconds,
            value = dates + timeZone
            //timezone fix
        }
    })

    //const value = Math.floor(new Date(date).getTime() / 1000 + minutes)+
    let minutes_1
    $: date = roundDay(date)
    $: minutes_1 = hide_minutes ? 0 : minutes // should be in seconds
    $: value = date + minutes_1+timeZone

    const mouseLeave = function () {
        this.fire("mouseleave")

    }

</script>
