<div class=" usageFilter  form-minutes usageFilter-options-closer">
    <DropDown items={items} bind:value />
</div>

<script>
    import DropDown from "../DropDown/DropDown.svelte"
    export let value;

    const step = 15 * 60
    let items = [];
    for (let i = 5*3600; i < 3600 * 24; i += step) {
        const h =Math.floor(i / 3600),
            min = (i - h * 3600) / 60,
            title = h + ":" + (min===0 ? "00" : min)
        items.push({value: i, title})
    }


    for (let i = 0; i < 3600 * 5; i += step) {
        const h =Math.floor(i / 3600),
            min = (i - h * 3600) / 60,
            title = h + ":" + (min===0 ? "00" : min)
        items.push({value: i, title})
    }

</script>
