<DropDownMulti items={weekdays} title="Select Weekday" bind:value customTitleHelper={customTitleHelper} isRequired="1" />


<script>
    import dateMath  from "../../../Modules/Helpers/Data/dateMath"
    import  DropDownMulti from "../DropDown/DropDownMulti.svelte"

    export let value

const  weekdays = dateMath.weekdaysDropDown,
        customTitleHelper = function (value,items) {
                    if (typeof value === "undefined") return items[0].title;

                    let keys = Object.keys(value),
                        keys_len = keys.length,
                        title

                    if (keys_len === 0) {
                        title = items[0].title
                    } else if (keys_len === 1) {
                        title = value[keys[0]].title
                    } else {
                        //keys_len>1
                       // title = keys_len + " selected"
                         const shots= keys.map((item)=>items[item].short)
                            title = shots.join(",")
                    }

                    return title
                }



</script>