<div class="w-100"></div>
<div class="w-100"></div>
<div class="boxCont plannedEvents" >
    {#each items as item, index (item.pod_event_id)  }
        <StartDayBlock item={item} index={index} items={items} > </StartDayBlock>
    <div class="plan-event-box" transition:fade>
        <PlannedEventView  pod_type_id={item.pod_id} > </PlannedEventView>
    </div>
    {/each}
</div>
<script>
    import TEst from "./TEst.svelte";

            import PlannedEventView from "./PlannedEventView.svelte"
    import StartDayBlock from "./StartDayBlock.svelte"
    import { fade } from 'svelte/transition';
    export let items=[]

</script>
<style >

    .boxCont {
        margin-top: 5px;
        margin-left: 5px;
        padding: 20px 20px 0 25px; /*20px 0 0;*/
        text-align: center;
        display: inline-block;
        border: 2px solid #ebf1f7;
    }

</style>