<div class="w-100"></div>
<div class="w-100"></div>
<div class="boxCont plannedEvents">
    {#each items as item, index (item.pod_event_id) }

        {#if  index==0 || dayChanged(items[index-1].expected_at,items[index].expected_at ) }
            <div class="plan-event-box" >
                <div class="dayStart">
                    <span class="month">{@html UnixTimeToView (items[index].expected_at,3) }</span>
                    <span class="day">{@html UnixTimeToView (items[index].expected_at,'dayWeekShort') }</span>
                </div>
            </div>
        {/if}




        <div class="plan-event-box">
            <div class="planned-event ">
                {#if typeof hasRemove==="undefined"}
                    <span class="event-close " on:click={remove(item.pod_event_id, item.pod_event_ids)}></span>
                {/if}

                <div class="time">{time(item.expected_at,1)}</div>
                <span class='pod-color-box ' style='{ getStyle(item)  }'
          title={getPod(item.pod_id).name}></span>

            </div>

    </div>
    {/each}
</div>
<script>

    import PlannedEventView from "./PlannedEventView.svelte"
    import StartDayBlock from "./StartDayBlock.svelte"

    export let items



    import UnixTimeToView from "../../../Modules/Helpers/Data/unixTimeToView.js"


    function dayOfWeek (d) {
        return UnixTimeToView(d, 5)

    }

    const dayChanged=(a,b)=>{
        var d1=UnixTimeToView(a,3),
                d2=UnixTimeToView(b,3)
        if (d2!==d1) return d2
        return false
    }


    function getStyle (item) {
        const pod = getPod(item.pod_id)
        return item.is_active==0 ? 'border:4px solid #' + pod.pod_color     :   'background-color:#' + pod.pod_color
    }




    import plannedEventsHelper from "./AddPodEventForm/plannedEventsHelper_v2"
    import {Loads} from "../../../_shared"
    import {config} from "../../../CommonStore"


    export let pod_type_id = 0, hasRemove, expected_at, is_active, user_id
    let pod

    function time(v) {
        return UnixTimeToView(v, 4)
    }


    //$: pod = getPod(pod_type_id)

    function getPod(pod_type_id) {

        const pod = $config.pod_types_byId[pod_type_id] ; //$data['pod_types'] && $data.pod_types.items.find((item) => pod_type_id == item.pod_type_id)
        if (pod) return pod
        else {
            console.log("erorr pod data  " + pod_type_id)
            debugger
            return {}
        }
    }

    let moreClass= (user_id) =>{
        if (user_id === "-1") return "-opacity-5"
        return ""
    }

    //(pod_event_id,ids)
    function remove(id, ids) {
        return ()=> { console.log(id)
            plannedEventsHelper.remove(id, ids)
        }
    }



</script>
<style >

    .boxCont {
        margin-top: 5px;
        margin-left: 5px;
        padding: 20px 20px 0 25px; /*20px 0 0;*/
        text-align: center;
        display: inline-block;
        border: 2px solid #ebf1f7;
    }




    .-opacity-5 {
        opacity: 0.5;
    }

    .not_is_active {

    }





    .dayStart {
        font-weight: 500 !important;
        font-size: 12px;

        height: 35px;

        text-align: center;
        /*padding-top: 7px;*/
        margin: 0 5px;
        /*background-color: #c2c2c2;
        border: 1px solid #828282;
        border-radius: 15px 0 15px 0;
         color: #fff;  width: 35px;
        */
        width: 40px;
        height: 35px;
        color: #565656;
        background-color: #ececec;
        border: 0px ;
        border-radius: 5px;
    }

    .box {
        float: left;
        margin-right: 30px;
    }


</style>