<div class="planned-event ">
    {#if typeof hasRemove==="undefined"}
        <span class="event-close " on:click={remove}></span>
    {/if}

    <div class="time">{time(expected_at,1)}</div>
    <span class='pod-color-box ' style='{ is_active==0 ?  'border:4px solid #' + pod.pod_color     :   'background-color:#' + pod.pod_color  }'
          title={pod.name}></span>

</div>

<script>

    import UnixTimeToView from "../../../Modules/Helpers/Data/unixTimeToView.js"
    import plannedEventsHelper from "./AddPodEventForm/plannedEventsHelper_v2"
    import {config} from "../../../_shared"

    export let pod_type_id = 0, hasRemove, expected_at, is_active, user_id
    let pod

    function time(v) {

        return UnixTimeToView(v, 4)
    }


    $: pod = getPod(pod_type_id)

    function getPod(pod_type_id) {

        const pod = $config.pod_types_byId[pod_type_id] ; //$data['pod_types'] && $data.pod_types.items.find((item) => pod_type_id == item.pod_type_id)
        if (pod) return pod
        else {
            console.log("erorr pod data  " + pod_type_id)
            debugger
            return {}
        }
    }

    let moreClass= (user_id) =>{
        if (user_id === "-1") return "-opacity-5"
        return ""
    }

    //(pod_event_id,ids)
    function remove(id, ids) {
        plannedEventsHelper.remove(id, ids)
    }

</script>
<style>
    .-opacity-5 {
        opacity: 0.5;
    }

    .not_is_active {

    }
</style>