
<div class="plan-event-box">
    <PlannedEventView {...item} pod_type_id={item.pod_id} />
</div>
<script>
    export let item, index, items
    import PlannedEventView from "./PlannedEventView.svelte"
    import StartDayBlock from "./StartDayBlock.svelte"
</script>