{@html styles}
<script>
    export default {
        computed: {
            styles: function ({$data}) {
                $data.pod
                const styles = $data.pod_types.items.reduce((acc, item) => {

                    const id = item.pod_type_id,
                        color = item.pod_color
                    acc += `.pod${id} {color:#${color};fill:#${color};background-color:#${color};}
                    `
                    return acc
                }, "")

                return "<style>" + styles + "</style>"
            }
        }
    }
</script>