<div class="reported-event {gapClass} " title="Expected at {time(expected_at,4)}">
  {#if  gap(gap_time)!=="Taken" && gap(gap_time)!=="Missed" }
    <div class="time"> <span class="time-gap" >{gap(gap_time)} </span></div>
    <span class='pod-color-box' style='background-color:#{pod(pod_type_id)}'  ></span>
    {:else}
    {#if  gap(gap_time)=="Missed"}
          <i class="fa fa-remove" style='color:#{pod(pod_type_id)}'  ></i>
            {:else}
         <i class="fa fa-check" style='color:#{pod(pod_type_id)}'  ></i>
    {/if}
  {/if}
</div>

<style>
  .fa-check {
    margin-top: 8px;
    font-size: 24px;
  }
  .fa-remove {
    margin-top: 8px;
    font-size: 22px;
  }
    .gap-ok {
        /*background-color: #e1f4deff;*/
    }

    .gap-ok .time-gap {
        color: #565656
    }

    .gap-late {
        /*background-color: rgb(255, 238, 238);*/
    }

    .gap-late .time-gap {
    /*    color: #990000 */
    }

    .time .time-gap {
        /*font-weight: bold;*/
    }

    .report-event {
        padding: 2px 10px 5px 10px ;
        border: none;
    }
</style>

<script>
    import UnixTimeToView from "../../../../admin_panel/src/jsModules/unixTimeToView"
    import {getPodColorByType} from "../../utlis/viewHelpers/projectViewHelpers"

    export default {
        helpers: {
            pod: function (i){
              return   getPodColorByType (i)
            },
            time:  function (v,t) {

                return UnixTimeToView(v, t)
            },
            gap: function (minutes) {
                if (minutes <=60 && minutes >=-60 ) return "Taken"
                if (minutes >=960 ||  minutes <=-960 ) return "Missed"

                var hours = Math.floor(minutes / 60),
                    min = Math.abs(minutes % 60)

                if (min>15 && min<45) min=5
                else if (min>45){
                    min=0
                    hours+=1
                } else {
                    //min<15
                    min=0
                }
                 let out =   (minutes>0 ? "+" : "" )+ hours
                 out +=  min !=0 ? "." + min :""
                return out
            },
        },
        computed: {
            gapClass: function ({gap_time}) {

                return Math.abs(gap_time) < 120 ? "gap-ok" : "gap-late"
            },
            pod_: function ({$data, pod_type_id}) {
                return $data['pod_types'] && $data.pod_types.items[pod_type_id - 1] ? $data.pod_types.items[pod_type_id - 1] : {}
            }
        },
        data: () => {
            return {pod_type_id: 0}
        },
        methods: {
           /* remove: function (id) {
                debugger
                removePodEvent(id)
                this.fire("remove")
                /* do event remove * /
            }*/
        }
    }

</script>
