{#if  index==0 || dayChanged(items[index-1].expected_at,items[index].expected_at ) }
    <div class="plan-event-box" >
        <div class="dayStart">
            <span class="month">{@html UnixTimeToView (items[index].expected_at,3) }</span>
            <span class="day">{@html UnixTimeToView (items[index].expected_at,'dayWeekShort') }</span>
        </div>
    </div>
{/if}

<script>
    /*
     FUll day of week
    title="{dayOfWeek(items[index].expected_at) }"
    * */
export let index,  items, expected_at
    import UnixTimeToView from "../../../Modules/Helpers/Data/unixTimeToView.js"


    function dayOfWeek (d) {
        return UnixTimeToView(d, 5)

    }

    const dayChanged=(a,b)=>{
        var d1=UnixTimeToView(a,3),
                d2=UnixTimeToView(b,3)
        if (d2!==d1) return d2
        return false
    }
</script>
<style>

    .dayStart {
        font-weight: 500 !important;
        font-size: 12px;

        height: 35px;

        text-align: center;
        /*padding-top: 7px;*/
        margin: 0 5px;
        /*background-color: #c2c2c2;
        border: 1px solid #828282;
        border-radius: 15px 0 15px 0;
         color: #fff;  width: 35px;
        */
        width: 40px;
        height: 35px;
        color: #565656;
        background-color: #ececec;
        border: 0px ;
        border-radius: 5px;
    }

    .box {
        float: left;
        margin-right: 30px;
    }


</style>