<span class="close-button-big" on:click="onClick()" ></span>
<script>
    import {userClear} from "./userSelectedHelper"
    export default {
        methods:{
            onClick:function () {
                userClear()
                this.fire ("click")
            }
        }
    }
</script>