<div class="manage-form_add {className} ">
    <div class="subtitle">The Plan</div>
    <div class="form-group-lg form-vertical pod_color_sel1">
        <div class=" usageFilter pod-color-selector">
            <DropDown items={pod_fav_items_list} title="Select Pod Type" bind:value={pod_type_id}/>
        </div>
        {#if  !isFavPlanSelected}
            <div class="formItem from_add-datetime ">
                <DateTime placeholder="Date" bind:value={date} bind:value_date={date_only}
                          min="{minDate}" max="{maxDate}"/>
            </div>
            <div class="formItem addPlan-repeat usageFilter usageFilter-options-closer">
                <DropDown bind:value={repeatType} items={repeatItems}/>
            </div>
            {#if repeatType!=="no"}
                <div class="formItem usageFilter usageFilter-options-closer repeat-times">
                    <DropDown bind:value={repeat} items={times_items}/>
                </div>
                <div class="formItem repeat-times-caption">time{#if repeat!=1}s{/if}</div>
            {/if}
        {:else}
        <!-- Date only -->
            <div class=" ">
                <DateTime placeholder="Date" bind:value={date} bind:value_date={date_only}
                          min="{minDate}" max="{maxDate}" hide_minutes="true"/>
            </div>
        {/if}
        <div class="formItem _pt-butt manage-add_form-add_button margin  " id="but-add">
            <a class=" button-add " on:click="{addEvent_click}"
            >Add
            </a>
        </div>
        <div class="formItem _pt-butt manage-add_form-add_button margin " id="but-update" >
            <button class="form-send btn btn-default btn-lg pad " on:click="{updatePlan_handler}"
            >Update plan!
            </button>
        </div>
    </div>
    <div class="w-100 clear"></div>
</div>

<script>
    export let selectedUsers, date_only = true, className = ""
    /**
     *
     *  logic
     *
     *  [all] !params || ! params.users_selected && params._checkedCount > 1
     *  [1 from All selected] params &&  params.users_selected && params._checkedCount > 1
     *  [1 checked (no all) ] params && params._checkedCount==1
     *  [If selected ANY users] params && params._checkedCount
     */
    import {formatDate} from "../../../../Modules/Helpers/Data/unixTimeToView.js"
    import UserAvatar from "../../../Layout/Block/UserAvatar.svelte"
    import DateTime from "../../../Forms/DateTime/DateTime.svelte"
    import DropDown from "../../../Forms/DropDown/DropDown.svelte"
    //import CheckBox from "../../../Forms/Checkbox.html"
    import {safe_JSON_parse} from "../../../../Modules/Helpers/Data/_.js"
    import UserSelectedClearButton from "./UserClearButton.svelte"
    import Tooltip from "../../../Layout/Block/Tooltip.svelte"
    import {
        pod_fav_items,
        onClearAllClicked,
        updatePlan,
        addEvent,
        addFavPlanToEvents,
        refreshData
    } from "./AddPodEventFormHelper_v2"

    import {
        routeToPageUserWithSelected,
        userClear
    } from "../../../../Modules/Helpers/viewHelpers/GlobalUserSelected/userSelectedHelper.js"
    /* Local state */
    let params = {}
    //state helper
    const addDate = function () {
        var now = new Date();
        now.setDate(now.getDate() + 31);
        return now
    }

    let hints = {
                plan: {
                    summary: "Tha plan hint text",
                    txt: "You can see and change user`s plan here"
                }
            },
            // isUpdatePlanAllowed: false, //allow add puah button
            pod_type_id = undefined,
            events = [],
            maxDate = addDate(),
            minDate = new Date(),
            date = new Date().getTime() / 1000, //"2019-01-22T04:45",//formatDate (new  Date() ),
            repeat = 1,
            repeatType = "no",
            isFavPlanSelected = false,
            _locSelectedUser = undefined
    /*Computed props*/

    let repeatItems, idDisabledClass, pod_fav_items_list

    $: repeatItems = [{value: "no", title: "Don’t repeat"},
        {value: "daily", title: "Daily repeat"},
        {value: "dailyNoW", title: "Daily repeat (not weekends)"},
        {
            value: "weekly",
            title: "Weekly repeat on " + formatDate(new Date(date), 5)
        }]


    $: idDisabledClass = pod_type_id == 0 ? "disabled" : ""

    $: pod_fav_items_list = pod_fav_items(/*$data, data*/)
    /*
     * True if pod plan is selected from drop down
     * */
    $: isFavPlanSelected = pod_type_id && pod_type_id.type && pod_type_id.type == "fav"
    $:repeat = repeat > 99 ? 99 : repeat
    /* Local vars*/
    const times_items = []

    for (let i = 1; i < 49; i++) {
        times_items.push({title: i, value: i})
    }

    const isAvtartActive = function (params, user_id) {
        return params && (params.users_selected == user_id)
    }

    /* Methods*/

    /**BUtton habndler*/

    const activeUsers = () => {
        return _locSelectedUser ? [_locSelectedUser] : Object.keys(selectedUsers)
    }

    const updatePlan_handler = () => {
        debugger
        const users = activeUsers()
        if (users.length > 0) updatePlan(users)
    }

    const onAvatarClicked = function (id) {

                if (id === 'all') {
                    //clear all users
                    _locSelectedUser = null
                } else {
                    _locSelectedUser = id
                }

                refreshData()
            },
            //onClearAllClicked,
            /**
             * call server API function on selected users
             */
            // updatePlan,
            /**
             * adds event to selected user(s)
             */
            addEvent_click = function () {
                const state = {
                    selectedUsers,
                    repeatType,
                    date,
                    pod_type_id,
                    repeat
                }

                if (isFavPlanSelected) {
                    //add permissions logic
                    const state = this.get(),
                            fav_plan = pod_type_id.data,
                            daysOfWeek_obj = safe_JSON_parse(fav_plan.day)

                    if (!daysOfWeek_obj) return

                    const daysOfWeek = Object.keys(daysOfWeek_obj),
                            date = state.date

                    daysOfWeek.forEach((dayPlan) => {
                        dayPlan = parseInt(dayPlan)
                        //get next day of week after expected
                        const dateInput = new Date(state.date * 1000).getDay()
                        let deltaDays = 0
                        if (dateInput < dayPlan) { //2<3
                            deltaDays = dayPlan - dateInput
                        } else if (dateInput > dayPlan) { //4>2
                            deltaDays = dayPlan + 7 - dateInput//2+6-4=
                        }

                        const expected = deltaDays * 24 * 3600 + date

                        if (expected < (new Date()).getTime() / 1000 | 0) {
                            // alert('Wrong date, should be past today');
                            return;
                        }

                        this.store.set({"isUpdatePlanAllowed": true})

                        addEvent(this, expected)
                    })
                } else addEvent(state)

            },
            avatar_click = function (id) {
                scrollEl("tr-" + id)
            }


</script>
<style>


    .subtitle {
    }

    .button-add {
        margin-right: 25px !important;
        display: inline-block;
        margin-left: 0px;
    }


    #form_0_sheduled {
        height: 40px;
    }

    .clear {
        clear: both
    }

    .pod-color-selector {
        padding-top: 10px;

    }

    .checkbox {
        padding-top: 4px;
    }

    .form-date {
        width: 248px
    }

    .formItem {
        margin-right: 0;
    }

    .pod_color_sel1 {
        padding-top: 30px;
    }
</style>