<div class="manage-form_add {className} ">
    <div class="subtitle">The Plan</div>
     <div class="form-group-lg form-vertical">
        <div class=" usageFilter pod-color-selector">
            <DropDown items={pod_fav_items_list} title="Select Pod Type" bind:value={pod_type_id} />
        </div>

        {#if !isFavPlanSelected}
            <div class="formItem ">
                <DateTime placeholder="Date" bind:value={date} bind:value_date={date_only}
                          min="{minDate}" max="{maxDate}"/>
            </div>
            <div class="formItem addPlan-repeat usageFilter usageFilter-options-closer">
                <DropDown bind:value={repeatType} items={repeatItems} />
            </div>
            {#if repeatType!=="no"}
                <div class="formItem usageFilter usageFilter-options-closer repeat-times">
                    <DropDown bind:value={repeat} items={times_items} />
                </div>
                <div class="formItem repeat-times-caption">time{#if repeat!=1}s{/if}</div>
            {/if}
        {:else}

        <!-- Date only -->
            <div class=" ">
                <DateTime placeholder="Date" bind:value={date} bind:value_date={date_only}
                          min="{minDate}" max="{maxDate}" hide_minutes="true" />
            </div>
        {/if}
        <br/>
        <div class="formItem _pt-butt manage-add_form-add_button margin ">
            <a class=" button-add " on:click="{addEvent_click}"
            >Add
            </a>

            <button class="form-send btn btn-default btn-lg pad " on:click="{updatePlan}"
            >Update Plan!
            </button>
        </div>
    </div>
    <div class="w-100 clear"></div>

</div>



<script>

    export let users_selected, date_only=true, className=""
    /**
     *
     *  logic
     *
     *  [all] !params || ! params.users_selected && params._checkedCount > 1
     *  [1 from All selected] params &&  params.users_selected && params._checkedCount > 1
     *  [1 checked (no all) ] params && params._checkedCount==1
     *  [If selected ANY users] params && params._checkedCount
     */
    import {formatDate} from "../../../../../../../admin_panel/src/jsModules/unixTimeToView"

    import UserAvatar from "../../../../Common/Components/Layout/Block/UserAvatar.svelte"

    import DateTime from "../../../../Common/Components/Forms/DateTime/DateTime.svelte"
    import DropDown from "../../../../Common/Components/Forms/DropDown/DropDown.svelte"
    let params={}
    //import CheckBox from "../../../Forms/Checkbox.html"

    import {safe_JSON_parse} from "../../../../../../src/utlis/data/_"

    import UserSelectedClearButton from "./UserClearButton.svelte"

    import Tooltip from "../../../../Common/Components/Layout/Block/Tooltip.svelte"
    import {
        pod_fav_items,
        onClearAllClicked,
        updatePlan,
        addEvent,
        addFavPlanToEvents,
        refreshData
    } from "./AddPodEventFormHelper_v2"



    import {
        routeToPageUserWithSelected,
        userClear
    } from "../../../../../../src/utlis/viewHelpers/GlobalUserSelected/userSelectedHelper"

    /* Local state */


    const addDate = function () {
        var now = new Date();
        now.setDate(now.getDate() + 31);
        return now
    }


    let     hints = {
                plan: {
                    summary: "Tha plan hint text",
                    txt: "You can see and change user`s plan here"
                }
            },
            // isUpdatePlanAllowed: false, //allow add puah button
            pod_type_id = 1,
            events = [],
            maxDate = addDate(),
            minDate = new Date(),
            date = new Date().getTime() / 1000, //"2019-01-22T04:45",//formatDate (new  Date() ),
            repeat = 1,
            repeatType = "no"
    /*Computed props*/

    let repeatItems, idDisabledClass, pod_fav_items_list, isFavPlanSelected

    $: repeatItems = [{value: "no", title: "Don’t repeat"},
        {value: "daily", title: "Daily repeat"},
        {value: "dailyNoW", title: "Daily repeat (not weekends)"},
        {
            value: "weekly",
            title: "Weekly repeat on " + formatDate(new Date(date), 5)
        }]


    $: idDisabledClass = pod_type_id == 0 ? "disabled" : ""

    $: pod_fav_items_list = pod_fav_items(/*$data, data*/)
    /*
     * True if pod plan is selected from drop down
     * */
    $: isFavPlanSelected = pod_type_id && pod_type_id.type && pod_type_id.type == "fav"
    $:repeat = repeat > 99 ? 99 : repeat
    /* Local vars*/
    const times_items = []

    for (let i = 1; i < 49; i++) {
        times_items.push({title: i, value: i})
    }

    const isAvtartActive = function (params, user_id) {
        return params && (params.users_selected == user_id)
    }
    let isFavPlanSelected=false
    /* Methods*/
    const onAvatarClicked = function (id) {
                const params = this.store.get().Data_params
                if (id === 'all') {
                    //clear all users
                    delete params.users_selected
                } else {
                    params.users_selected = id
                }
                this.store.set({Data_params: params})

                const params2 = this.get().params
                if (id === 'all') {
                    //clear all users
                    delete params2.users_selected
                } else {
                    params2.users_selected = id
                }
                this.set({params: params2})

                refreshData()
            },
             //onClearAllClicked,
            /**
             * call server API function on selected users
             */
            // updatePlan,
            /**
             * adds event to selected user(s)
             */

            addEvent_click = function () {debugger
                //const isFavPlanSelected = this.get().isFavPlanSelected;

                if (isFavPlanSelected) {
                    //add permissions logic
                    const state = this.get(),
                            fav_plan = pod_type_id.data,
                            daysOfWeek_obj = safe_JSON_parse(fav_plan.day)

                    if (!daysOfWeek_obj) return

                    const daysOfWeek = Object.keys(daysOfWeek_obj),
                            date = state.date

                    daysOfWeek.forEach((dayPlan) => {
                        dayPlan = parseInt(dayPlan)
                        //get next day of week after expected
                        const dateInput = new Date(state.date * 1000).getDay()
                        let deltaDays = 0
                        if (dateInput < dayPlan) { //2<3
                            deltaDays = dayPlan - dateInput
                        } else if (dateInput > dayPlan) { //4>2
                            deltaDays = dayPlan + 7 - dateInput//2+6-4=
                        }

                        const expected = deltaDays * 24 * 3600 + date

                        if (expected < (new Date()).getTime() / 1000 | 0) {
                            // alert('Wrong date, should be past today');
                            return;
                        }

                        this.store.set({"isUpdatePlanAllowed": true})

                        addEvent.call(this, expected)
                    })
                } else addEvent.call(this)

            },
            avatar_click = function (id) {
                scrollEl("tr-" + id)
            }


</script>
<style>
    .manage-form_add {
        width : 250px
    }
    .subtitle {
    }

    .button-add {
        margin-right: 25px !important;
        display: inline-block;
        margin-top: 8px;
        margin-left: 15px;
    }


    #form_0_sheduled {
        height: 40px;
    }

    .clear {
        clear: both
    }

    .pod-color-selector {
        padding-top: 10px;

    }

    .checkbox {
        padding-top: 4px;
    }

    .form-date {
        width: 248px
    }

    .formItem {
        margin-right: 0;
    }


</style>