<div class="formItem usageFilter"><div class="sga">
    <DropDown items={filterConfig("goal_1")} title="All goals" bind:value={goal_1} />
    <DropDown items={filterConfig("ages")} title="All ages" bind:value={age} />
    <DropDown items={filterConfig("gender")} title="Gender" bind:value={gender} />
</div>
</div>

<script>
    import DropDown from "../../Forms/DropDown/DropDown.svelte"

    export let gender=undefined, age=undefined, goal_1=undefined
    import {filterConfig} from "../../../Modules/Helpers/Store/configHelper"



</script>
