<!--GoalAgeSexFilter select -->
<div class="form-group form-group-lg no-resize" id="filter-select">
      <div class="col-sm-10 form-dropdown">
        <div class="cell">
            <GoalAgeSexFilter bind:goal_1={goal_1} bind:age={age} bind:gender={gender}
                              noTextSearch=true />
        </div>

          <LoadFilteredUsersList {age}  {goal_1} {gender} bind:user_id={user_id} />

    </div>
</div>
<style>
    #filter-select {
        margin-bottom: 0 !important;
    }

    table td {
        vertical-align: top
    }
</style>

<script>
    import GoalAgeSexFilter from "./GoalAgeSexFilter.svelte"
   // import {ageToIndex, genderToIndex} from "../../../../../../../dashboard/src/components/jsModules/CONST"
    import {getGoalString} from "../../../../../../webApps2/src/Common/Modules/Helpers/viewHelpers/projectViewHelpers";
    import LoadFilteredUsersList from "../../../../projectRootForCommon/plant/Generated/Load_FilteredUsersList.svelte"

    export let user_id, goal_1, age , gender;

    function ss({changed, current, previous}) {

        /*  if (!previous) {
              const store = this.store.get(),
                      userData = store.review_selected_user_data


              if (userData) {
                  this.set({
                      goal_1: userData.goal_1 ? userData.goal_1 : 0,
                      age: userData.age ? ageToIndex(userData.age) : 0,
                      gender: userData.gender ? genderToIndex(userData.gender) : 0,
                      user_id: userData.id
                  })

              }
       }*/

    }

</script>
