<span id="form_0_photo" class="input-image-upload">

        <label class="btn btn-default  { !value?'':'hidden'} ">
          Browse
            <input type="file" hidden="hidden"  class="hidden" on:change=changed(event)>
        </label>
       {#if value}
    <div class="preview">

        <div class="preview_img1"><span class="remove close-button-big" on:click="reset()"></span>
            <img class="preview_img" src={ src } ref:image/>
        </div>
    </div>
    {/if}
</span>
<style>
    .hidden {display: none}
</style>
<script>
    export let value, submit;
    import {onMount} from "svelte"


    import cfg from "../../../config"

    onMount((function () {
            let promise;
            if (changed.doSubmit && current.doSubmit && !current.uploaded ){
                //upload and return file name

                const file=this.refs.input
                const isDirty= file.files &&  file.files[0]
                if (isDirty) {

                    promise=new Promise((resolve,reject)=>{
                        //do Upload
                        let formData = new FormData();
                        formData.append("title", this.get().title);
                        formData.append("name", this.get().name);
                        formData.append("file", file.files[0]);

                        let xhr = new XMLHttpRequest();
                        xhr.onload =function (result) {

                            var res=JSON.parse( this.response)
                            resolve    ( res )
                        }
                        xhr.open("POST", cfg.filesUploadAPI); //synchronius
                        xhr.send(formData);
                    })

                }else {
                    promise= new Promise((resolve,reject)=>  {
                        resolve({value: current.value})
                    })
                }
                this.fire("submitted", promise)
            }
        })

        data: function () {
            return {
                value: false,
                uploaded:false
            }
        },
        computed: {
            src: ({value}) => value ? (typeof value === 'string' ? value :  URL.createObjectURL(value) ) : "",

        },
        methods: {
            changed: function (event) {

                const file = event.target.files[0]
                if (file) {
                    this.set({value: file})
                }

                /*const  preview = this.refs.preview,
                preview_img = this.refs.image

          //  preview.style.display = "block"
            preview_img.src = ;*/

            },
            reset: function () {
                this.set({value: ""})
                const preview = this.refs.preview,
                    input = this.refs.input


                input.value = ''
                if (!/safari/i.test(navigator.userAgent)) {
                    input.type = ''
                    input.type = 'file'
                }
            }
        }
    }
</script>
