<span class="input-image-upload">
        <ImageCropper bind:value={value} {cropperConfig}/>
    {#if value}
        <div class="preview">
        <div class="preview_img1"><span class="remove close-button-big" on:click={reset}></span>
            <img class="preview_img " class:round={round} src="{value}"/>
        </div>
    </div>
    {/if}
</span>
<script>
    /* Image preview that uses Image cropper*/
    import ImageCropper from "./ImageCropper/ImageCropper.svelte"
    import {onMount} from "svelte"

    export let value = null, submit, state,
            cropperConfig,
            params

    const reset = () => {
        value = null
    }

    $: cropperConfig = getParams(params)
    let round=false
    $:round =cropperConfig.cropShape=='round'

    function getParams(params) {
        const def = {
            width: 200,
            height: 200,
            //cropShape:'round',
            callback: (v) => {
                value = v
                if (params.callback) params.callback(v)
            }
        } ;
        return Object.assign({}, def, params)
    }

</script>
<style>
    .hidden {
        display: none
    }
    .round {
        border-radius: 50% 50% !important;
    }
</style>
