{#each stars as star}
    <i class="fa fa-star{star}" aria-hidden="true"></i>
{/each}
<style>
    .fa {
        color: #0d72ff
    }
</style>
<script>
    /**
     * get {count} 0..100 (%)
     * show 5 stars
     */

    export let value //(in percent)
    let stars=[]
    $: stars = get_stars(value)

    const get_stars = (count) => {
        count || (count=0)
        let a = count / 20,
                full = Math.floor(a), //fullstars count
                hasHalf =  0.5<(a-full) ? 1 : 0,//hasHalf
                empty = 5 - full - hasHalf
        let out = Array(full).fill("")

        out = out.concat(Array(hasHalf).fill("-half-o"), Array(empty).fill("-o"))
        return out
    }


</script>
