<div class="usageFilter podsFilter ">
    <div class="chbox col">
        {#each items as item, k }
            <span data-value="{item.value}" data-key="Pods" class:active={value === item.value}
                  on:click|preventDefault|stopPropagation={onClick0(item)}>
            <span class="pod col">
                <span class=""></span>{item.title}</span>
        </span>
        {/each}
    </div>
</div>
<style>

</style>
<script>
    export let value, items=[]

    function onClick0(item) {
        return function (e){

           value= item.value
        }
    }




</script>
