<input type="text" bind:value >
<script>
import FormItem from "./FormItemFactory.v3.Svelte"

export let  title ,    id,  name , description,   classList,    attributes
let formItem
beforeUpdate (()=>{
  /*Before render */
  if (!formItem) {
      formItem = new FormItem(cfg)
      form.trigger("beforeRender", this)
    }
})

onMount(()=>{
    formItem.trigger("onRendered", this)
})

const eventsList={
    beforeRender:()=>{

    }
}

</script>