<!-- Form container -->
<from>
<!-- inputs -->
<InputName name="name" bind:value={inputs['name']} doFormSubmit={onFormSubmit} on:changed={onInputChanged} form={form} submit={doFormSubmit} />
<!-- inputs -->
<!-- Form container -->
</from>
<script>

import { onMount , beforeUpdate, onDestroy} from 'svelte';
import FormFactory from  "./FormFactory.v.3.Svelte.js"

let form ;
beforeUpdate (()=>{
  /*Before render */
  if (!form) {
      form = new FormFactory (cfg,component)
      form.subscribeToList(events)
      form.trigger("beforeRender", this)
    }
})

onMount(()=>{
    form.trigger("onRendered", this)
})

onDestroy ( () =>{
     form=null
})

const doFormSubmit=function(){
    form.trigger("beforeSubmit")
}

const onInputChanged=function () {

}


const cfg = {
/*  ...smth */

}
</script>