<div class="col-lg-12 blockBadge {className}">
    <div class="ibox float-e-margins">
        <div class="ibox-title "><h5>{name}</h5>
            <Tooltip {summary} {txt}/>
        </div>
        <div class="ibox-content padding-top-0">
            <slot></slot>
        </div>
    </div>
</div>
<style>
    .ibox {
        margin-bottom: 10px;
    }
</style>

<script>
    import Tooltip from "./Tooltip.svelte"

    export let className, name, summary, txt

</script>
