<div class="ibox-title">
    <ColorBlock color={color} />
    <h5>{title}</h5>
    <Tooltip summary={tooltip.value} txt={tooltip.description}  />
</div>
<script>
    /**
     * <div className="ibox-title">
     <ColorBlock color={this.props.color} />
     <h5>{title}</h5>
     <Tooltip {...this.props.tooltip} /> {this.props.filter ?
	<UsageFilter {...this.props.filter} /> :"" }
     {this.props.buttons ?
		this.props.buttons.map((item, index)=><NavLink key={index} exact  className='rightButton' style={{float:"right", marginRight:"20px"}} to={item.route} >
		{item.title}
		 </NavLink> )//eof map
		 : ""
	 }
     </div>

     */
    import ColorBlock from "./Color_Block.svelte"
    import Tooltip from "./Tooltip.svelte"
    export let title=undefined
    export let color=undefined
    export let tooltip=undefined
</script>