<div id="page-wrapper" class="white-bg dashbard-1">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</div>