<span class="ahai"  >
    <span class="is"  on:mouseout={mouseout} on:mouseover={mouseover}  id="main_{id}"  >
        <span bind:this={popup}
              class="popup tooltip_popup_hover"  style="width:400px" >

            <h3>{txt}</h3>{summary}

</span>
</span>
</span>
<script type="ts">
    import {show,  hide} from "../../../../../../trainer/src/utlis/viewHelpers/popusHelper"
    import { onMount } from 'svelte';

    export let summary,txt


     let main
    let popup
    let id=1

    onMount( function () {
            main=document.getElementById("main_"+id)
            if (!main) return
            popup=main.getElementsByClassName("popup")[0]

        const hoverWidth = 400, // in theme_trainer.sass [.ibox-title .is:hover .popup] line 444
                left = main.getBoundingClientRect().left,
                dwidth = document.body.clientWidth

        if (hoverWidth > (dwidth - left)) {
//                    this.set({turnLeft: "turnLeft"})
        }
    })

    let   turnLeft = ""
    const mouseover = function () {debugger
                show(main, popup)
            },
            mouseout = function () {
                hide(popup)
            }


</script>
<style>
    h3 {
        font-size: 16px !important;
    }

    .turnLeft .popup {
        right: 0;
        z-index: 100000;
    }
</style>