<span class="blocks-user-avatar"  on:click="{click}">
    {#if typeof notClickable==="undefined" }
        <a class="clickable avatar tooltip1 {activeUserId==id ?'active':'' }" this={parent} on:mouseover="{onMouseover}"

           style="{srcbg}">
                <!-- image checker -->
                   <img style="display: none;" src="{photo}" on:error="{onError}"/>
                    {#if user_data}<span class="tooltip2" style="{tooltipStyle}">{@html user_info_string(user_data)}</span>{/if}

        {#if mode==="photo" }
        {:else}
            <span class="avatar initials" >{initials}</span>
        {/if}
    </a>
{:else}
    {#if mode==="photo" }
            <span class="avatar photo" style="{srcbg}" ></span>
            <img style="display: none;" src="{photo}" on:error="{onError}"/>
    {:else}
        <span class="avatar initials">{initials}</span>
    {/if}
{/if}
</span>


<script>
    /**
     * Sample use
     *  <UserAvatar
     *  user_data={...}
     *  popup=true|false
     *  />
     *
     */

    export let id,avatar,gender,  first_name, last_name , popup =true, activeUser=undefined, activeUserId=undefined,
            notClickable=undefined, user_data=null


    import {getAvatarLink} from "../../../../../../trainer/svelte3/review/src/ComponentHelpers/user_helpers";
    import {svelte2state} from "../../../../../../trainer/svelte3/review/src/plant/MainStore";
    import {user_info_string} from "../../../../Common/Modules/Helpers/viewHelpers/config_helpers"

    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    //HTML nodes
    let parent
    //local state
   let tooltipStyle = "",
        mode="photo",
        scroll =false

    let srcbg=""
    let photo

    $:  photo=avatar//getAvatarLink(id,gender,avatar)
    $:  mode=avatar ? "photo":"initials"
    $:  srcbg = photo ? `background-image:url(${photo})` : ''
    $:  initials = first_name.charAt(0).toUpperCase() + last_name.charAt(0).toUpperCase()

    const onError=function () {
        mode="initials"
    }
    function click () {

       if (popup) $svelte2state._show_user_popup (id)
        dispatch("click", id)
    }
function onMouseover() {
//todo
}
    // scroll to tr-id

    // import {scrollEl} from "../../../utlis/viewHelpers/projectViewHelpers"
    // import {findById} from "../../../config/configHelper";

    /* const tooltipOffset = 50;

     /*https://api.adorable.io/avatars/285/At@ad5o4rable.png * /
     export default {
         helpers: {
             user_info_string,
         },
         data: function(){
             return {
                 tooltipStyle: "",
                 popup:true,
                 scroll:false//scroll to tr-id
             }
         },
         onupdate: function ({changed, current, previous}) {
             if (current.id <= 30) {
                const filesCount = 375,
                    f_id = current.id % 375
                let gender = current.gender ? current.gender : "male"
                this.set({
                    mode: "photo",
                    photo: `random-avatars/${gender}/${f_id}.jpg`
                });
                return;
            }


                if (current.avatar) {
                    this.set({mode: "photo", photo: current.avatar});
                } else {
                    this.set({mode: "initials"});
                }

         },
         computed: {
             srcbg: function ({photo,  gender, id}) {
                 if (photo) return `background-image:url(${photo})`

                 return ''
             },
             initials: function ({user_data, first_name, last_name }) {

                 return first_name.charAt(0).toUpperCase() + last_name.charAt(0).toUpperCase();
             }
         },
         methods: {
             onError: function(e) {
               this.set({mode: "initials"})
             },
             onMouseover:function(e){
                 let avatarRect = this.refs.parent.getBoundingClientRect()
                 const tooltip = this.refs.parent.querySelector('.tooltip2')
                 if (!tooltip) return;

                 let
                     tooltipRect = tooltip.getBoundingClientRect(),
                     bodyWidth = document.body.getBoundingClientRect().width;

                 if ((avatarRect.x + tooltipRect.width + tooltipOffset) > bodyWidth) {
                     this.set({tooltipStyle: `right: ${tooltipOffset}px; z-index: 10000;`});
                 } else {
                     this.set({tooltipStyle: `left: ${tooltipOffset}px; z-index: 10000;`});
                 }
             },
             click: function (id) {
                 this.fire("click")

                 if (this.get().scroll) {
                     scrollEl("tr-" + id)
                 } else {
                     //this.root.getRouteSilent('Popups/profile/' + id)
                  if(this.get().popup){
                      this.root.popup({
                         cfg: findById ("Popups_profile"),
                         data: {
                             user_id: id
                         }
                     })
                     }
                 }
             }
         }
     }*/

</script>

<style>
    .avatar {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-size: cover;
        float: left
    }

    .initials {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: bold;
        background: linear-gradient(90deg, #2668cb 0, #1aa0eb);
    }

    a.clickable:hover, a.active {
        /*color :#0d72ff*/
        /* border: 2px solid #0d72ff;*/
        box-shadow: inset 0 0 0 2px rgba(13,114,255,1);
        z-index: 100;
    }

    .tooltip2 {
         bottom: -2em !important;
         height: 2em;
        top: unset;
    }

</style>
