<NotificationInner {...$notification} />

<script>

    import {notification}  from "../../../../Dashboard/plant/MainStore";
    import NotificationInner from "./NotificationInner.svelte"
    $notification || ($notification={show:false})

</script>
