<div class="chbox " >
    {#each items as item, i (item.value) }
        <span on:click={ onChanged(item.value) } class={isActive(value,item.value)?"option active":"option"}>{item.title}</span>
    {/each}
</div>
<script>
    /**
     *  Custom radiogroup for header (used by fileter)
     */

    /**
     * @var Array of {title, value }
     */
    export let items=undefined
    export let value=undefined

    const onChanged=(value0) => ()=> value=value0

    const isActive=function(value,val){

        return value===val
    }

</script>
<style>
    .chbox {
        display: contents;
    }
    .option {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: relative;
        padding: 0 15px 15px 15px;
        margin-right: 2px;
        border-bottom: 2px solid #ebedf3;
    }
    .option:hover, .option.active {
        border-bottom: 2px solid #0d72ff !important;
        color: #0d72ff;
    }
</style>