{#if popup}
    <PopupModal bind:popup={popup} on:closePopup={cancelImage}/>
{/if}
     <span class="input-image-upload">
        <label class="btn btn-default  { !value?'':'hidden'} ">
          Browse  <input type="file" hidden="hidden" class="hidden" bind:value={file} bind:this={input}>
        </label>
</span>
<script>
    import PopupModal from "../../../../Components/Layout/PopupModal/PopupModalInner.svelte"
    import Cropper from "./ImageCropperInner.svelte"

    export let cropperConfig = {}, value
    let file, image, input, cropResult = {}

    let popup = false //= {component: Cropper, data: {...cropperConfig, image} }
    const cancelImage = function () {
        input.value = ""
    }

    $: {
        handleFileSelect(input, file).then((result) => {
            if (!result) {
                popup = false
                return
            }
            image = result
            popup = {component: Cropper, data: {...cropperConfig, image, cancelImage}}
        })
    }

    //Crop interface
    async function handleFileSelect(input, file) {
        if (!file) return ""

        const files = input.files,  // FileList object
                f = files[0]

        // Only process image files.
        if (!f || !f.type.match('image.*')) {
            return ""
        }

        const reader = new FileReader(),
                promise = new Promise((resolve, reject) => {
                    // Closure to capture the file information.
                    reader.onload = (function (theFile) {
                        return function (e) {
                            resolve(e.target.result)
                        };
                    })(f);
                    // Read in the image file as a data URL.
                    reader.readAsDataURL(f);
                });

        return promise
    }

</script>
<style>
    .input-cropper .window-popup_inner {
        background: black;
    }
</style>