    <div class="cropper_outer" on:click={handleClick}>
        <Cropper
                image={image}
                {cropShape}
                bind:crop
                bind:zoom
                on:cropcomplete={cropcomplete}
                aspect="1.5"
                showGrid={true}
                {cropSize}
                minZoom="0.2"
                maxZoom="5"
        />

    </div>
    <div class="right">
        <h5>Preview</h5>
    <canvas width={width} height={height} bind:this={canvas} class:round={round} /><br>

    <button class="form-send btn btn-default btn-lg  " on:click={onSave}> Save </button>
    <!--button class="form-send btn btn-default btn-lg button-red " on:click={onCancel}> Cancel </button-->
    </div>
    <!--img class="preview" src={resultDataUrl} /-->


<script>
    import Cropper from 'svelte-easy-crop'
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();



    export let image,//src link
            cropShape=	'rect',//'rect' | 'round'
            width = 200, height = 200, //crop sizes
            callback = () => {
            },//function to call on crop complete
            cancelImage

    //locals
    let  cropResult = {}, cropSize, resultDataUrl
    //nodes
    let input, canvas

    //let image = '/images/dog.jpeg'
    let crop = {x: 0, y: 0}
    let zoom = 1

    //Input habdler
    $: cropSize = {width, height}

    let round=false
    $:round =cropShape==="round"

   async function onSave (){
        //do image crop
        //run callback
        const data = await doImageCropData()
       callback(resultDataUrl)
       cancelImage()
    }

    function onCancel (){
        cancelImage()
        dispatch('closePopup', { });
    }

    /**
     * handler on crop complete - generate cropped image data
     * @param e
     */
    function cropcomplete(e) {
        cropResult = e.detail
       // console.log(cropResult)
        doImageCropData()

    }

    async  function doImageCropData() {
        const context = canvas.getContext('2d');
        const p=cropResult.pixels

        const sx=p.x, sy=p.y,
              sWidth=p.width, sHeight=p.height,
                dx=0, dy=0,
                dWidth=width, dHeight=height

        var img = new Image();
        img.onload = function () {
            context.drawImage(this, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight);
             resultDataUrl = context.canvas.toDataURL();
            //alert(pngUrl); // send this url to server to save the image
        }
        img.src = image
    }


    function handleClick (e){
        e.preventDefault()
        e.stopPropagation()
    }
</script>


<style>
    h5 {font-size: 16.5px}
    canvas {
        margin: 0 20px 15px 0;
    }
    .cropper_outer {
        float: left;
        position: relative;
        display: inline-block;
        margin: 20px;
        width: 800px;
        height: 500px;
        border: 1px solid #aaaaaa;
    }
    .right{
        float:right;
        padding-top: 227px;
    }

    .preview {border: 1px solid #aaaaaa}
    button {

        width: 200px;
        border-radius: 6px;
        background-image: linear-gradient(128deg, #2666ca, #1aa0eb);
        font-size: 16.5px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
    }
    .round {
        border-radius: 50% 50% !important;
    }
</style>
